{% extends 'dashboard/base.html' %}
{% load static %}


{% block body %}
<div class="col-md-8 col-sm-5 col-xs-5">
<div id="content" class="p-6 p-md-5 pt-5">
    <div class="col-md-12 col-sm-12 col-xs-10">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table text-primary"></i>
                    Informations du livre
                </div>
                <div class="card-body">
               <form action="{% url 'aabook' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="form-group">
                <div class="col"><input type="text" class="form-control" name="title" placeholder="Titre du livre" required="required"></div>
        </div>
        <div class="form-group">
                <div class="col"><input type="text" class="form-control" name="author" placeholder="Auteur" required="required"></div>                 
        </div>

         <div class="form-group">
                <div class="col"><input type="text" class="form-control" name="publisher" placeholder="Editeur" required="required"></div>
        </div>

        <div class="form-group">
                <div class="col"><input type="text" class="form-control" name="genre" placeholder="Genre" required="required"></div>
        </div>

        <div class="form-group">
            <div class="col"><input type="text" class="form-control" name="year" placeholder="Année de publication" required="required"></div>
         </div>

      <div class="form-group">
                <div class="col"><input type="text" class="form-control" name="desc" placeholder="Description du livre" required="required"></div>
        </div>


        <div class="form-group">
                <div class="col"><label>Choisir la couverture</label>
                    <input type="file" id="myFile" name="cover" placeholder="Report Attachment" enctype="multipart/form-data" required="required"></div>
        </div>

        <div class="form-group">
                <div class="col"><label>Choisir le  PDF </label>
                    <input type="file" id="myFile" name="pdf" placeholder="Report Attachment" enctype="multipart/form-data" required="required"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" href="">Ajouter</button>
        </div>
    </form>

        </div>
    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}